
h1, h2, h4, h5, h6, button{
	font-family: 'Bree Serif', serif;
}
#social-containner{
	background-color: white;
	padding: 10px 0 ;
}
#logo-container {
	background-color: #79dce8;
}
#logo-container .row{
	background-color: #79dce8;
	color:black;
	margin-bottom: 0;
}
#menu-container{
	background-color: #48a19d;
}
#menu-container  li a{
	font-family: 'Bree Serif', serif;
	color:white;
}
#submenu-container{
	border: 0;
}
#menu-container  li a:hover,
#submenu-container li a{
	color:#f6e15f;
}
#submenu-container li a{
	background-color: #48a19d;
	
}
#tickets-action .callout{
	margin-bottom: 0;
	background-color: #5e7eb7;
	color:white;
}

#home-container{
	padding: 1em 0;

}

#home-container,
#home-container .tabs-panel,
#home-container .tabs,
#home-container .tabs .tabs-title.is-active a{
	background-color: white;
	color:black;
	border:0;
	
	font-family: 'Bree Serif', serif;
}
#home-container .row .column img{
	
	max-height:200px;
	width: 90%;
	margin:1em 0.5em;
}
#mision h1{
	margin-top: 2em;
	margin-bottom: 1.5em;
}
#mision .row{
	margin-bottom: 4em;
}

#quienes-somos h1{
	margin-bottom: 1em;

}
#area-ventas h1{
	margin: 1em 0;
}
#area-ventas .row{
	margin-bottom: 3em;
}
#area-ventas .row .column img{
	
	margin-top: .3em;
	margin-bottom: .2em;
}
#asesoria h1{
	margin: 1em 0;
}
#asesoria .row{
	margin-bottom: 4em;
}
#refigeracion h1{
	margin: 1em 0;
}
#refigeracion .row{
	margin-bottom:10em;
}









